/* Source: http://barchok.com/flags.html */
.lgbt-blur-fullscreen-background {
        background: linear-gradient(180deg, #FE0000 16.66%,
                        #FD8C00 16.66%, 33.32%,
                        #FFE500 33.32%, 49.98%,
                        #119F0B 49.98%, 66.64%,
                        #0644B3 66.64%, 83.3%,
                        #C22EDC 83.3%);
        -webkit-filter: blur(5px);
        filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
}